In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql+psycopg2://aadadey:@localhost/susb')
connection = engine.connect()
query = "select * from susb_2016"
df = pd.read_sql_query(query, connection)
df

,state,naics,entrsize,firm,estb,empl,empfl_r,emplf_n,payr,payrfl_n,statedscr,naicsdscr,entrsizedscr
0,00,--,01,5954684,7757807,126752238,,G,2140174759,G,United States,Total,01: Total
1,00,--,02,3665182,3671901,5923452,,G,268039737,G,United States,Total,02: 0-4
2,00,--,03,1013878,1025690,6681968,,G,248985263,G,United States,Total,03: 5-9
3,00,--,04,626900,657781,8432521,,G,329388425,G,United States,Total,04: 10-19
4,00,--,05,5305960,5355372,21037941,,G,846413425,G,United States,Total,05: <20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
727993,56,99,03,3,3,18,,J,178,J,Wyoming,Industries not classified,03: 5-9
727994,56,99,04,1,1,0,A,D,0,D,Wyoming,Industries not classified,04: 10-19
727995,56,99,05,66,66,111,,H,1906,G,Wyoming,Industries not classified,05: <20
727996,56,99,06,2,2,0,B,D,0,D,Wyoming,Industries not classified,06: 20-99
727997,56,99,08,68,68,161,,J,2012,G,Wyoming,Industries not classified,08: <500

In [6]:
df.naics.dtype

dtype('O')

In [ ]:
(df['estb'] > 5).all()

In [ ]:
df['state'].dtype == 'object'

In [ ]:
(dbdf['empl'] >= 0).all()
dbdf['empl'].dtype == 'int64'

In [ ]:
df = pd.read_csv('us_state_6digitnaics_2016.txt', encoding='ISO-8859-1')
df

In [ ]:
df['FIRM'].describe()

In [ ]:
df['STATE'] == 10

In [ ]:
sub_df = df[(df['STATE'] == 10) & (df['ENTRSIZE'].isin([2, 3, 4]))]
sub_df['PAYR_N'].describe()

In [ ]:
pd.DataFrame(data={'a': [1,2,3], 'b': [4,5,6]})

In [ ]:
dbdf.shape[1]