In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql+psycopg2://aadadey:@localhost/susb')
connection = engine.connect()
query = "select * from susb_2016"
result = connection.execute(query)
for row in result:
    print(row)
    break

('00', '--', '01', 5954684, 7757807, 126752238, '', 'G', 2140174759, 'G', 'United States', 'Total', '01:  Total')

In [3]:
query = "select * from susb_2016 where state = '10'"
dbdf = pd.read_sql_query(query, connection)
dbdf

,state,naics,entrsize,firm,estb,empl,empfl_r,emplf_n,payr,payrfl_n,statedscr,naicsdscr,entrsizedscr
0,10,453920,08,14,14,28,,G,1706,H,Delaware,Art Dealers,08: <500
1,10,453920,05,14,14,28,,G,1706,H,Delaware,Art Dealers,05: <20
2,10,453920,04,1,1,0,A,D,0,D,Delaware,Art Dealers,04: 10-19
3,10,71211,08,24,25,712,,G,20158,G,Delaware,Museums,08: <500
4,10,6212,05,224,226,1835,,G,120639,G,Delaware,Offices of Dentists,05: <20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11117,10,1141,01,7,7,8,,J,163,J,Delaware,Fishing,01: Total
11118,10,1141,02,7,7,8,,J,163,J,Delaware,Fishing,02: 0-4
11119,10,1141,05,7,7,8,,J,163,J,Delaware,Fishing,05: <20
11120,10,1141,08,7,7,8,,J,163,J,Delaware,Fishing,08: <500
11121,10,11411,01,7,7,8,,J,163,J,Delaware,Fishing,01: Total

In [29]:
(dbdf['empl'] >= 0).all()
dbdf['empl'].dtype == 'int64'

True

In [ ]:
df = pd.read_csv('us_state_6digitnaics_2016.txt', encoding='ISO-8859-1')
df

In [ ]:
df['FIRM'].describe()

In [ ]:
df['STATE'] == 10

In [ ]:
sub_df = df[(df['STATE'] == 10) & (df['ENTRSIZE'].isin([2, 3, 4]))]
sub_df['PAYR_N'].describe()

In [30]:
pd.DataFrame(data={'a': [1,2,3], 'b': [4,5,6]})

   a  b
0  1  4
1  2  5
2  3  6

In [33]:
dbdf.shape[1]

13